footer#footer
    .container
        div#feature-wrapper
            div.feature
                svg(xmlns="http://www.w3.org/2000/svg", width="40", height="40", viewBox="0 0 40 40", fill="green")
                    g(clip-path="url(#clip0_63_3052)")
                        path(d="M20 7.66602C14.4066 7.66602 9.85596 12.2166 9.85596 17.8101C9.85596 23.4035 14.4066 27.9542 20 27.9542C25.5935 27.9542 30.1441 23.4036 30.1441 17.8102C30.1441 12.2166 25.5935 7.66602 20 7.66602ZM20 25.1877C15.9321 25.1877 12.6225 21.8781 12.6225 17.8102C12.6225 13.7422 15.9321 10.4326 20 10.4326C24.068 10.4326 27.3775 13.7421 27.3775 17.8101C27.3775 21.8781 24.068 25.1877 20 25.1877Z", fill="#202124")
                        path(d="M35.8335 16.25H32.9167V25L35.8335 23.75L37.9167 22.0833V17.9167L35.8335 16.25Z", fill="", stroke="#202124")
                        path(d="M4.16658 16.25H7.08325V25L4.16658 23.75L2.08325 22.0833V17.9167L4.16658 16.25Z", fill="0")
                        path(d="M34.928 14.237H34.4583C33.7594 6.87461 27.5423 1.0957 20 1.0957C12.4577 1.0957 6.24062 6.87461 5.54172 14.237H5.07203C2.27531 14.237 0 16.5123 0 19.309V20.6923C0 23.489 2.27531 25.7643 5.07203 25.7643H8.24203V15.6202C8.24203 9.13687 13.5166 3.86234 19.9999 3.86234C26.4833 3.86234 31.7578 9.13687 31.7578 15.6202V25.3144L25.894 32.8537H24.4594C23.8684 30.9527 22.0928 29.5684 20 29.5684C17.4257 29.5684 15.3314 31.6627 15.3314 34.2369C15.3314 36.8112 17.4257 38.9055 20 38.9055C22.0928 38.9055 23.8684 37.5212 24.4594 35.6202H27.2472L34.9129 25.7643H34.928C37.7248 25.7643 40.0001 23.489 40.0001 20.6923V19.309C40 16.5123 37.7247 14.237 34.928 14.237ZM5.47547 22.9977H5.07203C3.80078 22.9977 2.76656 21.9635 2.76656 20.6923V19.309C2.76656 18.0377 3.80078 17.0035 5.07203 17.0035H5.47547V22.9977ZM20 36.139C18.9512 36.139 18.098 35.2858 18.098 34.2369C18.098 33.1881 18.9512 32.3349 20 32.3349C21.0488 32.3349 21.902 33.1881 21.902 34.2369C21.902 35.2857 21.0488 36.139 20 36.139ZM37.2334 20.6923C37.2334 21.9635 36.1992 22.9977 34.928 22.9977H34.5245V17.0035H34.928C36.1992 17.0035 37.2334 18.0377 37.2334 19.309V20.6923Z", fill="#202124")
                    defs
                        clipPath(id="clip0_63_3052")
                            rect(width="40", height="40", fill="white")

                div.text
                    h5 پشتیبانی تا 12 شب
                    h6 حتی جمعه ها
            div.feature
                svg(xmlns="http://www.w3.org/2000/svg", width="40", height="40", viewBox="0 0 40 40", fill="green")
                    path(fill-rule="evenodd", clip-rule="evenodd", d="M14.9999 2.91699L13.7499 7.50033H10.4166V12.0837L8.33325 14.5837L10.4166 17.0837V21.2503L13.7499 22.5003V25.8337L17.4999 24.5837L20.8333 27.0837L23.3332 24.5837L26.6666 25.8337L28.7499 21.2503H31.6666V17.0837L33.3332 14.5837L30.4166 12.0837L31.6666 7.50033H28.7499L26.6666 2.91699L23.3332 5.00033L20.8333 1.66699L17.4999 5.00033L14.9999 2.91699ZM19.9999 20.0003C17.2429 20.0003 14.9999 17.7573 14.9999 15.0003C14.9998 12.2433 17.2428 10.0003 19.9999 10.0003C22.757 10.0003 24.9999 12.2434 24.9999 15.0003C24.9999 17.7573 22.757 20.0003 19.9999 20.0003Z", fill="")
                    path(d="M20.1451 7.53711C16.2183 7.53711 13.0237 10.7318 13.0237 14.6586C13.0237 18.5854 16.2183 21.78 20.1451 21.78C24.0719 21.78 27.2666 18.5854 27.2666 14.6586C27.2666 10.7318 24.0719 7.53711 20.1451 7.53711ZM20.1451 19.2117C17.6345 19.2117 15.592 17.1691 15.592 14.6586C15.5919 12.148 17.6344 10.1055 20.1451 10.1055C22.6558 10.1055 24.6982 12.148 24.6982 14.6586C24.6982 17.1691 22.6558 19.2117 20.1451 19.2117Z", fill="#202124")
                    path(d="M31.9279 22.2561L32.8204 22.0194L31.6975 17.7851L34.803 14.6954L31.7133 11.59L32.8579 7.36147L28.6294 6.21686L27.5065 1.98257L23.2722 3.10554L20.1826 0L17.0771 3.08968L12.8486 1.94507L11.704 6.17358L7.46959 7.29655L8.59256 11.5308L5.4871 14.6205L8.57678 17.7261L7.43217 21.9546L8.11873 22.1404L3.08374 34.692L10.631 34.2902L16.6359 40L19.9999 31.6136L23.3639 40L29.3687 34.2902L36.916 34.692L31.9279 22.2561ZM15.6619 35.5296L11.5992 31.6666L6.96569 31.9133L10.6148 22.816L11.6606 23.0991L12.7836 27.3333L17.0179 26.2104L18.7156 27.9168L15.6619 35.5296ZM17.7927 23.3478L14.6076 24.1925L13.7629 21.0074L10.5822 20.1464L11.4432 16.9657L9.11912 14.6297L11.4551 12.3056L10.6104 9.12053L13.7955 8.27584L14.6566 5.09515L17.8373 5.95616L20.1733 3.6321L22.4973 5.96811L25.6825 5.12343L26.5272 8.3085L29.7079 9.16951L28.8468 12.3502L31.1709 14.6862L28.835 17.0103L29.6797 20.1954L26.4946 21.04L25.6336 24.2207L22.4529 23.3597L20.1168 25.6837L17.7927 23.3478ZM28.4007 31.6666L24.3381 35.5296L21.3499 28.0799L23.213 26.2263L27.4415 27.3709L28.5861 23.1424L29.4267 22.9194L33.0343 31.9131L28.4007 31.6666Z", fill="#202124")

                div.text
                    h5 تضمین اصالت کالا
                    h6 واقعی!
            div.feature
                svg(xmlns="http://www.w3.org/2000/svg", width="40", height="40", viewBox="0 0 40 40", fill="")
                    path(d="M36 25H9V40H36V25Z", fill="green")
                    path(fill="green", d="M36.5 25.5L32 14H3.5L8.5 25.5H36.5Z", stroke="#202124")
                    path(d="M33.2422 13.8661V0H2.77344V15.2344L6.74367 25.7727C6.74789 25.785 6.75312 25.7967 6.75781 25.8089V40H37.2266V24.2188L33.2422 13.8661ZM5.11719 2.34375H30.8984V12.8906H5.11719V2.34375ZM5.35156 15.2344H31.2348L34.5703 24.2188H8.68703L5.35156 15.2344ZM34.8828 37.6562H9.10156V26.5625H34.8828V37.6562Z", fill="#202124")
                    path(d="M12.3047 4.29688H7.53906V6.64062H12.3047V4.29688Z", fill="#202124")
                    path(d="M16.1328 8.4375H7.46094V10.7812H16.1328V8.4375Z", fill="#202124")
                    path(d="M29.4141 18.2031H10.8984V20.5469H29.4141V18.2031Z", fill="#202124")
                    path(d="M30.2428 32.3067C30.1704 32.1379 30.0667 31.9944 29.9316 31.8761C29.7964 31.7579 29.6336 31.6553 29.4431 31.5685C29.2524 31.4816 29.0389 31.402 28.8025 31.3297C28.7494 31.3152 28.6987 31.2996 28.6506 31.2826C28.6023 31.2659 28.5565 31.2526 28.5131 31.2429V30.5914C28.6481 30.6156 28.782 30.6506 28.9148 30.6965C29.0475 30.7424 29.1668 30.7918 29.2731 30.8448C29.3985 30.9027 29.5143 30.9655 29.6205 31.033L30.2285 29.8677C30.1271 29.8196 30.0161 29.7676 29.8956 29.712C29.775 29.6565 29.6459 29.6035 29.5084 29.5529C29.3709 29.5022 29.2272 29.4577 29.0778 29.419C28.9282 29.3804 28.7738 29.3515 28.6146 29.3321V28.5938H28.0356V29.3248C27.8087 29.349 27.5952 29.4044 27.395 29.4913C27.1948 29.5781 27.0198 29.6938 26.8703 29.8386C26.7207 29.9833 26.6025 30.1558 26.5157 30.3561C26.4288 30.5564 26.3854 30.7868 26.3854 31.0473C26.3854 31.2355 26.4107 31.4019 26.4614 31.5466C26.5121 31.6914 26.5905 31.8206 26.6967 31.934C26.8028 32.0473 26.9379 32.1486 27.102 32.2379C27.266 32.3272 27.4614 32.4105 27.6882 32.4877C27.8378 32.5409 27.9874 32.5865 28.137 32.6251V33.2621C27.9631 33.238 27.793 33.1957 27.6265 33.1353C27.46 33.0751 27.314 33.0136 27.1886 32.9509C27.039 32.8785 26.8991 32.8013 26.7689 32.7192L26.1609 33.9569C26.4214 34.1113 26.7157 34.2391 27.0439 34.3405C27.3719 34.4418 27.7025 34.507 28.0354 34.5359V35.4262H28.6144V34.5504C28.8363 34.5359 29.051 34.4962 29.2585 34.431C29.466 34.3658 29.6505 34.2695 29.8122 34.1416C29.9739 34.0137 30.1041 33.8496 30.2031 33.6493C30.3019 33.449 30.3514 33.2067 30.3514 32.922C30.3514 32.6807 30.3153 32.4757 30.2428 32.3067ZM28.1368 31.1198C28.0402 31.0812 27.9678 31.039 27.9196 30.993C27.8714 30.9473 27.8473 30.8881 27.8473 30.8157C27.8473 30.6759 27.9438 30.5938 28.1368 30.5697V31.1198ZM28.7592 33.2113C28.711 33.25 28.629 33.2741 28.5132 33.2837V32.7481C28.6096 32.7868 28.6868 32.8313 28.7448 32.882C28.8027 32.9326 28.8317 32.9919 28.8317 33.0595C28.8317 33.1222 28.8075 33.1727 28.7592 33.2113Z", fill="#202124")
                    path(d="M16.9141 33.125H12.1484V35.4688H16.9141V33.125Z", fill="#202124")
                    path(d="M20.7422 28.9844H12.0703V31.3281H20.7422V28.9844Z", fill="#202124")

                div.text
                    h5 امکان خرید اقساطی
                    h6 بدون چک و ضامن
            div.feature
                svg(xmlns="http://www.w3.org/2000/svg", width="40", height="40", viewBox="0 0 40 40", fill="")
                    path(d="M19.2307 32.308V17.6227L33.8461 10.7695V26.9234L19.2307 32.308Z", fill="green")
                    path(fill-rule="evenodd", clip-rule="evenodd", d="M18.6453 1L1 8.99086V27.0091L18.6453 35L36.2906 27.0091V22.0473C36.776 23.1563 37.0381 24.3722 37.0381 25.6316C37.0381 30.5526 33.0345 34.5562 28.1135 34.5562V31.0639L23.6455 35.532L28.1135 40V36.8844C34.3183 36.8844 39.3663 31.8364 39.3663 25.6317C39.3663 22.6974 38.2387 19.9505 36.2906 17.8956V8.99086L18.6453 1ZM17.2584 16.3873V31.388L3.77367 25.1802V10.8198L18.6453 4.01766L23.5998 6.14102L8.32102 12.6891V24.3965H11.0947V14.518L27.1204 7.64977L32.383 9.90523L17.2584 16.3873ZM33.6454 25.5L20.0322 31.3879V18.2162L33.6454 12V25.5ZM25.2681 19.6129V22.3866L32.6645 19.1506V16.377L25.2681 19.6129ZM25.2681 23.6177V26.3913L28.9663 24.7734V21.9997L25.2681 23.6177Z", fill="#202124")


                div.text
                    h5 ۱۰ روز ضمانت بازگشت
                    h6 حتی سلیقه ای!

        div#footer-col-wrapper
            div.footer-col
                h4
                    span.green-txt درباره
                    |
                    | خرازی انلاین
                p در فروشگاه آنلاین خرازی زیبا، ما بهترین و جذاب‌ترین محصولات خرازی را برای علاقه‌مندان به دوخت و خیاطی فراهم می‌کنیم. با تمرکز بر کیفیت، زیبایی و تنوع، هدف ما ارائه لوازمی است که به پروژه‌های شما روحیه و جذابیت بیشتری ببخشند.
            div.footer-col
                h4
                    span.green-txt خدمات
                    |
                    | مشتریان
                ul.footer-list
                    li
                        a(href="#")
                            | پرسش های متداول
                    li
                        a(href="#")
                            | شرایط بازگشت
                    li
                        a(href="#")
                            | راهنمای خرید
                    li
                        a(href="#")
                            | فروش B2B
                    li
                        a(href="#")
                            | سنجش رضایتمندی

            div.footer-col
                h4
                    span.green-txt درباره
                    |
                    | فروشگاه
                ul.footer-list
                    li
                        a(href="#")
                            | درباره ما
                    li
                        a(href="#")
                            | قوانین و مقررات
                    li
                        a(href="#")
                            | فرصت های شغلی
                    li
                        a(href="#")
                            | همکاری فروش
                    li
                        a(href="#")
                            | تبلیغات

            div.footer-col
                h4
                    span.green-txt میزبان
                    |
                    | صدای گرمتان هستیم
                ul.contact-us-list
                    li
                        .right
                            i.fa-solid.fa-location-dot
                            |
                            | ادرس :
                        .left
                            p کاشان خیابان امام خمینی کوچه شهیدان زارع 38
                    li
                        .right
                            i.fa-solid.fa-phone
                            |
                            | تلفن :
                        .left
                            p 09030422838
                    li
                        .right
                            i.fa-solid.fa-print
                            |
                            | فکس :
                        .left
                            p 55143624
            div.footer-col
                h4
                    span.green-txt نماد
                    |
                    | اعتماد
                p مزون ماهدیس
                div#namad-wrapper
                    img(src="images/namad-1.png" alt="")
                    img(src="images/namad-1.png" alt="")
                    img(src="images/namad-1.png" alt="")
        div#copy-right
            div.developer طراحی شده توسط
                |
                |
                |
                span محمد رضا نصراله زاده
                |
                i.fa-solid.fa-heart
            div.copy-right تمامی حقوق برای وبسایت
                |
                |
                |
                span.green-txt فروشگاه ماهدیس
                |
                | آنلاین محفوظ است.
