header#top-header
    div.container
        div#right-bar-menu
            i.fa-solid.fa-close
            h5 منو
            ul
                li
                    a(href="#") خانه
                li
                    a(href="#") محصولات
                li
                    a(href="#") درباره ما
                li
                    a(href="#") ارتباط با ما

        div#top-item
            i.fa-solid.fa-bars#bars-icon
            div.top-right
                a(href="index.html")#logo
                    div.right
                        img(src="images/dress%20(10).png" alt="")
                    div.left
                        h2 مزون و فروشگاه
                        h2 ماهدیس
                form(action="")
                    input(type="search" placeholder="جستجو محصولات" required)
                    button(type="submit")
                        i.fa-solid.fa-magnifying-glass

            div.top-left
                div#number-box
                    img(src="images/Contactbox.png" alt="")
                    h5 پشتیبانی فروش
                    h5 09132643036
                a(href="sections/log-sign/log-sign.html")#log-sign ورود / عضویت
                a(href="")#basket-shop.position-relative 0تومان
                    i.fa-solid.fa-basket-shopping
                    span 0
nav#top-nav
    div.container
        div.top-right
            ul#meno-item
                li
                    a(href="#") خانه
                        i.fa-solid.fa-home
                li
                    a(href="#") دسته بندی محصولات
                        i.fa-solid.fa-list-1-2
                    div.sub-item
                        div.right
                            h3.active.filters انواع دکمه
                            h3.filters زیور الات
                            h3.filters کش وزیپ
                            h3.filters طراحی لباس
                            h3.filters خیاطی
                        div.left
                            div.filter-1.product
                                div.right
                                    img(src="images/product1.jpg" alt="")
                                div.left
                                    p نخ دستبند مدل ND14
                                    div.star-box
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    div.price-box
                                        div.price
                                            h3
                                                span.green-txt 250,000
                                                |
                                                | تومان
                                        div.add-basket
                                            a(href="#").basket-icon
                                                i.fa-solid.fa-basket-shopping




                            div.filter-2.product
                                div.right
                                    img(src="images/product2.jpg" alt="")
                                div.left
                                    p نخ گلدوزی مدل عمامه ای بسته 10 عددی
                                    div.star-box
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    div.price-box
                                        div.price
                                            h3
                                                span.green-txt 250,000
                                                |
                                                | تومان
                                        div.add-basket
                                            a(href="#").basket-icon
                                                i.fa-solid.fa-basket-shopping
                            div.filter-3.product
                                div.right
                                    img(src="images/product3.jpg" alt="")
                                div.left
                                    p دکمه رایمون کالا مدل گل های بهار 24 عددی
                                    div.star-box
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    div.price-box
                                        div.price
                                            h3
                                                span.green-txt 250,000
                                                |
                                                | تومان
                                        div.add-basket
                                            a(href="#").basket-icon
                                                i.fa-solid.fa-basket-shopping
                            div.filter-3.product
                                div.right
                                    img(src="images/product4.jpg" alt="")
                                div.left
                                    p کش مو زنانه مدل چهل گیس کد Fr634 بسته 4 عددی
                                    div.star-box
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    div.price-box
                                        div.price
                                            h3
                                                span.green-txt 250,000
                                                |
                                                | تومان
                                        div.add-basket
                                            a(href="#").basket-icon
                                                i.fa-solid.fa-basket-shopping
                            div.filter-3.product
                                div.right
                                    img(src="images/product5.jpg" alt="")
                                div.left
                                    p کلیپس مو زنانه مدل پروانه ای طرح نگین و مروارید
                                    div.star-box
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    div.price-box
                                        div.price
                                            h3
                                                span.green-txt 250,000
                                                |
                                                | تومان
                                        div.add-basket
                                            a(href="#").basket-icon
                                                i.fa-solid.fa-basket-shopping
                            div.filter-4.product
                                div.right
                                    img(src="images/product6.jpg" alt="")
                                div.left
                                    p زیپ مدل 2520 مجموعه 25 عددی
                                    div.star-box
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    div.price-box
                                        div.price
                                            h3
                                                span.green-txt 250,000
                                                |
                                                | تومان
                                        div.add-basket
                                            a(href="#").basket-icon
                                                i.fa-solid.fa-basket-shopping
                            div.filter-5.product
                                div.right
                                    img(src="images/product7.jpg" alt="")
                                div.left
                                    p کش خیاطی مدل 3.8Cent_Sab_2m طول 2 متر
                                    div.star-box
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    div.price-box
                                        div.price
                                            h3
                                                span.green-txt 250,000
                                                |
                                                | تومان
                                        div.add-basket
                                            a(href="#").basket-icon
                                                i.fa-solid.fa-basket-shopping
                            div.filter-5.product
                                div.right
                                    img(src="images/product8.jpg" alt="")
                                div.left
                                    p جعبه لوازم خیاطی هایلو مدل A2
                                    div.star-box
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    div.price-box
                                        div.price
                                            h3
                                                span.green-txt 250,000
                                                |
                                                | تومان
                                        div.add-basket
                                            a(href="#").basket-icon
                                                i.fa-solid.fa-basket-shopping
                            div.filter-4.product
                                div.right
                                    img(src="images/product1.jpg" alt="")
                                div.left
                                    p نخ دستبند مدل ND14
                                    div.star-box
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    div.price-box
                                        div.price
                                            h3
                                                span.green-txt 250,000
                                                |
                                                | تومان
                                        div.add-basket
                                            a(href="#").basket-icon
                                                i.fa-solid.fa-basket-shopping




                li
                    a(href="#") محصولات
                        i.fa-solid.fa-store
                li
                    a(href="#") درباره ما
                        i.fa-solid.fa-user
                li
                    a(href="#") ارتباط با ما
                        i.fa-solid.fa-contact-book





        div.top-left
            a(href="")
                i.fa-brands.fa-instagram
            a(href="")
                i.fa-brands.fa-telegram
            a(href="")
                i.fa-brands.fa-whatsapp
            a(href="")
                i.fa-brands.fa-facebook
            a(href="")
                i.fa-brands.fa-youtube



div.overlay
    div.overlay
        div#basket-sh-page
            i.fa-solid.fa-close.close-btn
            h2#basket-titre سبد خرید
            hr(noshade)
            h1#empty خالی!
            div
                hr(noshade)
                h2#total جمع سبد خرید : 0ريال
                a(href="#")#checkout تسویه حساب
                a(href="#")#small-price دیدن ریز قیمت ها




